body{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  color: #6070FF;
  padding: 1.5rem;
}

.humburger {
  width: 16px;
  color: #6070FF;
}

.p1 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  margin-top: 104px;
}
.p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.p3 {
  
  color: #6070FF;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 60%;
  color: #172b4d;
  font-size: 1.5rem;
  padding: 0;
}

.intro-section {
  background-image: url("../images/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
  background-position: center;
  padding: 1.5rem;
}
.project-card {
  padding: 16px;
  border: 1px solid #DFE1E6;
  width: 80%;
  margin: 88px auto;
  color: #172B4D; 
  border-radius: 16px;
}
.project-card__image {
  width: 100%;
}
.projct-card__heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

}

.project-card__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.project-card__timeline {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.project-card__timeline--span {
  color: #7A869A;
  margin: 8px;
}

.project-card__timeline--span::before {
  content: "-  ";
}

.project-card__tech {
  color: #6070FF;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  width: 55%;
  justify-content: space-between;
  margin: 28px 0;
}


.project-card__tech--item {
  background-color: #EBEBFF;
  padding: 4px 12px;
  border-radius: 8px;
}

.project-card__button {
  color: #396DF2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #396DF2;
  background-color: #FFFFFF;
}