body{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  color: #6070FF;
  padding: 1.5rem;
}

.humburger {
  width: 16px;
  color: #6070FF;
}

.p1 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  margin-top: 104px;
}
.p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.p3 {
  
  color: #6070FF;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 60%;
  color: #172b4d;
  font-size: 1.5rem;
  padding: 0;
}

.intro-section {
  background-image: url("../images/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
  background-position: center;
  padding: 1.5rem;
}